VITE_API_BASE_URL=https://raithamarga-backend.onrender.com
VITE_FIREBASE_API_KEY=AIzaSyBCsdgc-5SfteFSxANbBk6nK1iktjTyNz4
VITE_FIREBASE_AUTH_DOMAIN=website-2d57a.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=website-2d57a
VITE_FIREBASE_STORAGE_BUCKET=website-2d57a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=986800731275
VITE_FIREBASE_APP_ID=1:986800731275:web:08c61b94eb9ee313db908e
VITE_FIREBASE_MEASUREMENT_ID=G-63ENWZSXST
